@inject SignInManager<ApplicationUser> signInManager;
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
    {
        <form method="post" asp-controller="Search" asp-action="Search">
            <input onkeyup="onSearch()" id="searchInput" name="searchInput" class="mt-5 mb-2" type="search" placeholder="Search product" aria-label="Search">
            <input id="searchCity" name="city" type="search" placeholder="In city" aria-label="Search city">
            <br />
            <button disabled="disabled" id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    }
    else if (signInManager.IsSignedIn(User) && User.IsInRole("Pharmacy"))
    {
        <h3 class="mt-3">Manage you pharmacy</h3>
        <div class="text-center">
            <a class="btn btn-primary mt-5" asp-controller="Products" asp-action="Create">Add new product</a>
            <a class="btn btn-primary mt-5" asp-controller="Products" asp-action="Available" asp-route-userName="@User.Identity.Name">View all available products</a>
        </div>
    }
</div>
@if (Model != null && Model.Any())
{
    <h1>ima v modela</h1>
}
else
{
    <h1>nqma v modela</h1>
}

<script src="~/js/eventHandlers.js"></script>