@{
    ViewData["Title"] = "Location";
}

<div class="text-center">
    <h1>This page is still not ready - WIP</h1>
    <div id="map" style="height: 800px"></div>
</div>

<script>
    function initMap() {
        navigator.geolocation.getCurrentPosition(success => {
            const userLatitude = success.coords.latitude;
            const userLongitude = success.coords.longitude;
            const userLocation = { lat: userLatitude, lng: userLongitude };

            const mapDiv = document.getElementById("map");
            const map = new google.maps.Map(mapDiv, {
                center: userLocation,
                zoom: 14,
            });

            new google.maps.Marker({
                position: userLocation,
                map: map,
                label: 'My location'
            });

            const addresses = this.getAddressForAllPharmacies();

            addresses.responseJSON.forEach(address => {
                const coordinates = this.getCoordinatesFromAddress(address.address).responseJSON[0];

                new google.maps.Marker({
                    position: { lat: +coordinates.lat, lng: +coordinates.lon},
                    map: map,
                    label: address.name
                });
            });

        }, error => {
            toastr.error('Error.', error.message);
        });
    }
</script>
<script src="~/api/Location.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0yc-h39noN5bmByw7mpnOe24bmt9mMxo&callback=initMap&libraries=&v=weekly" async></script>